body{
    border: 2px solid;
    border-radius: 30px;
    margin-left: 600px;
    margin-right: 600px;
    display: flex;
    background-color: beige;
 
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;    
    text-align: center;
    padding: 40px;
    background-color: rgb(0, 0, 0);
    border: 2px solid white;
    border-radius: 30px;
    box-shadow: 30px 20px 0px 6px rgba(255, 6, 6, 0.178);
}

h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    font-size: x-large;
    color: aliceblue;
}



h2 {
    color: orange;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 2px solid rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
}

p {
    color: gold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}

img {
    border-radius: 200px;
    border: 3px solid white;
    
}

a {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    color: gold;
    text-decoration: none;
    border: 2px solid gold;
    border-radius: 20px;

}

a:hover {
    color: aqua;
    border-color: aqua;

}