body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
}

.card-container {
  display: grid;
  margin: 50px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr;
  gap:10px;
}
 
.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-image {
  width: 100%;
  height: auto;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #333;
}

.card-description {
  font-size: 1rem;
  color: #666;
  
}

.card-button {
  padding: 10px;
  width: 100%;
  background: gray;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  
}

.card:nth-child(1) {
  grid-column: 1/3;
  grid-row: 1/2;
}


.card:nth-child(6) {
  grid-column: 2/4;
  grid-row: 2/3;
}

.card:nth-child(1) .card-description,
.card:nth-child(6) .card-description{
  margin-top: auto;
}

.card:nth-child(n+2):nth-child(-n+8):not(:nth-child(6)) {
  display: grid;
  grid-template-rows: 2fr 1fr 4fr 0.5fr;
}




 