/* TODO */
button{
    border: 3px solid rgb(107, 31, 93);
    background-color: rgb(255, 160, 176);
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

button:hover{
    background-color: purple;
    border: 3px solid rgb(59, 14, 51);
}