.body{
    background-color: black;
}
.dashboard {
    padding: 0px;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: rgb(255, 255, 255);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.navigation-bar {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 50px;
    justify-content: space-between;
    padding: 10px;
}

.right-nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.searchbar {
    border-radius: 8px;
    width: 300px;
}

.name {
    font-size:xx-large;
    display: flex;
    align-items: center;
}

.pfp {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 100%;
}

.content {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    gap: 10px;
   
}


.right-content {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 10px;
}

.today-highlight {
    height: 50%;
    background-color: rgb(37, 37, 37);
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.35fr 1fr 1fr;
    padding: 10px;
    font-size: medium;
    gap: 10px;
}
.topic {
    grid-column: 1/-1;
    font-size: x-large;
    font-weight: bolder;
}
.highlight {
    display: flex;
    flex-direction: column;
    background-color: rgb(89, 89, 89);
    border-radius: 20px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.type-highlight, .summarize-highlight, .status-highlight {
    width: 100px;
    display: flex;
    justify-content: end;
}
.status-highlight{
    font-size: xx-large;
    font-weight: bold;
}
.sun {
    background-color: rgb(86, 86, 86);
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 10px;
    gap: 10px;
    font-size: larger;
}

.sun-img{
    grid-column: 1/2;
    grid-row: 1/3;
    height: 100px;
}
.sun-img img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}

.sun-type {
    display: flex;
    align-items: end;
}
.sun-clock {
    font-size: larger;
    font-weight: bold;
}

.sun:nth-of-type(6){
    grid-column: 3/5;
    grid-row: 2/3;  
}
.sun:nth-of-type(7){
    grid-column: 3/5;
    grid-row: 3/4;
}

.five-day-forecast {
    background-color: rgb(38, 38, 38);
    padding: 10px;
    height: 50%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 0.35fr 2fr;
    gap: 10px;
    font-size: large;
    border-radius: 20px;
}

.day-forecast {
    background-color: rgb(86, 86, 86);
    border-radius: 20px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
}

.day-forecast-name {
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    padding: 10px;
}
.day-forecast-img {
    grid-row: 2/4;
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}
.day-forecast-temp {
    grid-row: 4/5;
    grid-column: 1/1;
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: larger;
}

.left-content {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 10px;
    gap: 10px;
}

.your-country {
    background-color: rgb(36, 36, 36);
    border-radius: 20px;
    font-size: x-large;
    padding: 10px;
    height: 40%;
    display: grid;
    grid-template-columns: 1fr 1.5fr 0.5fr;
    grid-template-rows: repeat(4, 1fr);
}
.your-location {
    grid-column: 1/3;
    grid-row: 1/2;
}
.cool-location-box {
    background-color: rgb(86, 86, 86);
    display: inline-block;
    border: solid 2px;
    border-radius: 12px;
    padding: 2px 10px 2px 10px;
}
.your-unit {
    grid-column: 3/4;
    grid-row: 1/2;
    display: flex;
    justify-content: end;
    padding-right: 10px;
    align-items: center;
}

.your-dates {
    grid-column: 1/2;
    grid-row: 2/4;
}
.your-day {
    font-size: xx-large;
    font-weight: bold;
}
.your-date {
    font-size: small;
    font-weight: bold;
}

.your-weather-img {
    grid-column: 2/3;
    grid-row: 2/5;
    height: 160px;
}
.your-weather-img img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}
.your-temp {
    grid-column: 3/4;
    grid-row: 2/4;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 10px;
    font-size: xx-large;
    font-weight: bold;
}
.your-weather {
    grid-column: 3/4;
    grid-row: 4/5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.other-country {
    height: 60%;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: 1;
    padding: 10px;
    background-color: rgb(38, 38, 38);
    border-radius: 20px;
    gap: 10px;
}
.more-countries {
    font-size: larger;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 20px;
}
.more-countries-left {
    grid-column: 1/2;
    grid-row: 1/4;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.more-countries-city {
    font-size: xx-large;
    font-weight: bold;
}

.more-countries:nth-of-type(2) {
    background-color: rgb(84, 84, 84);
    border-radius: 20px;
    grid-row: 2/4;
    grid-column: 1;
}
.more-countries:nth-of-type(3) {
    background-color: rgb(84, 84, 84);
    border-radius: 20px;
    grid-row: 4/6;
    grid-column: 1;
}
.more-countries-temp {
    grid-row: 1/-1;
    grid-column: 3/4;
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: larger;
    font-weight: bold;
}
.more-countries-weather-img {
    grid-row: 1/-1;
    display: flex;
    flex-shrink: 1;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-height: 100px;
}

.more-countries-weather-img img{
    object-fit: contain;
    max-width: 100%;
    max-height: 100%

}



@media (max-width: 1024px) {
   
    .content {
        flex-direction: column;
        gap: 10px;
    }

    .left-content,
    .right-content {
        width: 100%;
    }

    .navigation-bar {
        flex-direction: column;
        height: auto;
        align-items: flex-start;
        gap: 10px;
    }

    .right-nav {
        width: 100%;
        justify-content: space-between;
    }

    .searchbar {
        width: 100%;
        max-width: 200px;
    }

    .pfp {
        width: 35px;
        height: 35px;
    }


    .your-country {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
        gap: 5px;
    }

    .your-weather-img img {
        max-height: 100px;
        width: auto;
    }


    .other-country {
        grid-template-rows: repeat(5, auto);
        grid-template-columns: 1fr;
        gap: 5px;
    }

    .more-countries {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        padding: 10px;
        gap: 5px;
    }

    .more-countries-weather-img img {
        max-height: 80px;
    }
    .today-highlight {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        gap: 10px;
        padding: 10px;
    }


    .today-highlight .topic,
    .today-highlight .highlight,
    .today-highlight .sun {
        grid-column: auto;
        grid-row: auto;
    }


    .highlight {
        width: 100%;
        display: flex;
        padding: 10px;
        gap: 5px;
    }

    .type-highlight,
    .status-highlight,
    .summarize-highlight {
        width: 100%;
        text-align: left;
        justify-content: center;
    }

    .status-highlight {
        font-size: large;
        font-weight: bold;
    }

   
    .sun {
        width: 100%;
        display: flex;
        flex-direction: row; 
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .sun-img {
        align-content: center;
    }

    .sun-img img {
        max-width: 50px;
        max-height: 50px;
    }

    .sun-type,
    .sun-clock {
        font-size: medium;
    }

    .five-day-forecast {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(10, auto);
        gap: 10px;
    }

    .day-forecast-img {
        max-height: 80px;
        width: auto;
        display: flex;
        justify-self: center;
    }
    

    .day-forecast {
        grid-template-rows: auto 1fr auto;
        width: 100%;
    }
}


