/* Styling only */
body {
  margin: 0;
}

.wrapper {
  background-color: #333333;
  color: #444;
  padding: 20px;
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr
}

.item {
  background-color: #3092d7;
  color: #fff;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 3em;
}

.item:first-child {
  grid-column: 1/4;
  grid-row: 1/2;
}
.item:nth-child(2) {
  grid-row: 2/4;
}
.item:nth-child(5) {
  grid-column: 2/4;
}
.item:nth-child(6) {
  grid-column: 1/4;
}



 
 